---
layout: default
title: Harkitecture
heading: Harkitecture
permalink: /index.html
---

<section>
  {% for project in site.data.projects %}
    <div class="row">
      <div class="col-65" id="c-b1">
        <a href="{{ project.url | relative_url }}" {% if project.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
          <img class="card" src="{{ project.image | relative_url }}" alt="{{ project.title }} cover image">
        </a>
      </div>

      <div class="col-35" id="c-b2">
        <h2>
          <a href="{{ project.url | relative_url }}" class="no-ul" id="link-hov-1" {% if project.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
            {{ project.title }}
          </a>
        </h2>
        <hr>
        <a href="{{ project.url | relative_url }}" class="no-ul" {% if project.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
          <p class="sub-0">{{ project.location }}</p>
          <p class="sub-1">{{ project.category }}</p>
          <p class="sub-2">{{ project.type }}</p>
        </a>
      </div>
    </div>
  {% endfor %}
</section>
